.container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  font-size: 1.2rem;
}

.label {
  margin-bottom: 0.4rem;
  color: #444444;
}

.input {
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  color: #020314;
  height: 2rem;
  font-size: 1rem;
  padding: 0 0.2rem;
}
